<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragmentos :: headGeral('Novo Usuário')}"></head>
	<body>
		<header th:replace="~{fragmentos :: header('Novo Usuário')}"></header>
		
		<div class="container">
			<div class="row">
				<form  th:object="${requisicaoFormUsuario}" th:action="@{/usuarios}" method="POST" autocomplete="off">
					<div class="mb-3">
						<div class="col-4" style="display: inline-block;">
							<label class="form-label">Nome de usuário</label>
							<input type="text" class="form-control" th:id="nomeUsuario" th:name="nomeUsuario" th:value="usuario">
						</div>
						<div class="col-4" style="display: inline-block;">
							<label class="form-label">Email</label>
							<input type="email" class="form-control" th:id="email" th:name="email" th:value="${#dates.format(#dates.createNow() , 'yyyy/MMM/dd_HH-mm-ss')} + '@gmail.com'" autocomplete="off">
						</div>
						<div class="col-3" style="display: inline-block;">
							<label class="form-label">Senha</label>
							<input type="password" class="form-control" th:id="senha" th:name="senha" th:value="abc" autocomplete="off">
						</div>
					</div>
					<a type="button" class="btn btn-primary" href="javascript:history.back()">Voltar</a>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</form>
			</div>
		</div>
		
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>		
	</body>
</html>