@charset "UTF-8";

body{
	font-family: Arial, sans-serif;
	background-color: #282828;
}
header{
	margin-bottom: 0;
	padding-top: 10px;
	background-color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 2px 2px 4px 1px rgba(255, 255, 255, 0.3);
}
.nav-link{
	color: black;
}
.titulo-pagina{
	margin-top: 20px;
	margin-bottom: 0;
	padding-bottom: 30px;
}
main{
	margin-top: 0;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 2px 2px 4px 1px rgba(255, 255, 255, 0.3);
}
main > section > article{
	margin-bottom: 20px;
}
main > section > article > p, main > section > article > aside > p{
	text-align: justify;
	text-indent: 2em;
	padding-left: 10px;
	padding-right: 10px;
}
main > section > article > h2{
	background-color: rgba(224,172,11,0.2);
	border-radius: 10px;
	color: #943807;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}
footer{
	background-color: #393939;
	color: white;
	text-align: center;
}
footer > p{
	padding: 5px;
}
.footer-pagina-pequena{
	position: absolute;
	bottom: 1rem;
	width: 100%;
}
.footer-pagina-pequena > p{
	padding: 5px 5px 0px 5px;
	height: 18px;
}
a{
	text-decoration: none;
}

/* Paleta adobe #0087E0 */

.legenda{
	background-color: #D7EBC7;
}

.abreviacao{
	display: inline-block;
	margin-right: 25px;
}

a:link{
	text-decoration: none;
}

.sucesso-mensagem{
	color: #198754;
}

.erro-mensagem{
	color: #dc3545;
}