<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<link rel="stylesheet" href="/mensagens/css/style.css">
		
		<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<style>
			.legenda{
				background-color: #D7EBC7;
			}
			.abreviacao{
				display: inline-block;
				margin-right: 25px;
			}
			a:link{
				text-decoration: none;
			}
		</style>
		
		<title>Listagem - Tradução das Mensagens</title>
	</head>
	<body>
		<header th:replace="~{fragmentos :: header('Lista de Mensagens')}"></header>
		
		<div class="container erro-mensagem">
			<div class="col-12">
				<span th:styleappend="${param.error == null || param.mensagem == null ? 'display: none' : ''}"
					  th:classappend="${param.error != null && param.error ? 'erro-mensagem' : 'sucesso-mensagem'}"
					  th:text="${param.mensagem != null ? param.mensagem : ''}"></span>
			</div>
		</div>
		
		<div class="container">
			<div style="display: block; text-align: right;">
				<a type="button" class="btn btn-primary" href="/mensagens/new">Nova Mensagem</a>
			</div>
			<br>
			<div class="row legenda" style="border-left: blue solid; margin-left: 0px; margin-right: 0px;">
				<h6><strong>Letras de abreviação na Data:</strong></h6>
				<div class="col-12">
					<div class="abreviacao">
						<h6>M = Manhã</h6>
					</div>
					<div class="abreviacao">
						<h6>T = Tarde</h6>
					</div>
					<div class="abreviacao">
						<h6>N = Noite</h6>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<table class="table table-striped align-middle">
						<thead>
						    <tr>
							    <th scope="col"></th>
							    <th scope="col"><a href="" title="Ordenar" style="color: inherit; text-decoration: none">Data <i class="fa fa-sort" aria-hidden="true"></i></a></th>
							    <th scope="col"><a href="" title="Ordenar" style="color: inherit; text-decoration: none">Mensagem <i class="fa fa-sort" aria-hidden="true"></i></a></th>
							    <th scope="col"><a href="" title="Ordenar" style="color: inherit; text-decoration: none">Gráfica <i class="fa fa-sort" aria-hidden="true"></i></a></th>
							    <th scope="col"></th>
							    <th scope="col"></th>
							    <th scope="col"></th>
							    <th scope="col"></th>
						    </tr>
						</thead>
						<tbody>
						    <tr th:each="mensagem : ${mensagens}">
							    <th scope="row" th:text="${mensagem.id}"></th> 
							    <td th:text="${mensagem.dataPregacao} + ${#strings.substring(mensagem.periodoDoDia, 0, 1)}"></td>
							    <td class="col-6">
							    	<div>
							    		<strong th:text="${mensagem.tituloBr}"></strong>
						    		</div>
							    	<div>
							    		<div style="display: inline-block;" class="col-5" th:text="${mensagem.cidade} + ' ' + ${mensagem.siglaEstado}"></div>
							    		<div style="display: inline-block;" class="col-1"></div>
							    		<div style="display: inline-block;" class="col-2" th:text="${mensagem.diaDaSemana.toString()}"></div>
							    		<div style="display: inline-block;" class="col-1"></div>
							    		<div style="display: inline-block;" class="col-2" th:text="'81 min'"></div> <!-- ARRUMAR o tempo total do arquivo de áudio -->
						    		</div>
							    </td>
							    <td th:text="${mensagem.grafica}"></td>
							    <td><a href="" title="Ouvir" style="color: inherit"><i class="material-icons" style="font-size:25px">volume_up</i></a></td>
							    <td><a th:href="@{/mensagens/{mensagemId}(mensagemId = ${mensagem.id})}">Detalhes</a></td>
							    <td><a th:href="@{/mensagens/{mensagemId}/edit(mensagemId = ${mensagem.id})}">Editar</a></td>
							    <td>
									<a href="#" data-bs-toggle="modal" th:attr="data-bs-target='#staticBackdrop'+${mensagem.id}">Deletar</a>
									<div th:replace="~{mensagens/modaisMensagem :: delete}"></div>
								</td>
						    </tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>		
	</body>
</html>