<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragmentos :: head('Detalhes')}"></head>
	<body>
		<header th:replace="~{fragmentos :: header('Mensagem #' + ${mensagem.id})}"></header>
		
		<main>
			<div class="container mt-4">
				<div class="row">
					<div class="col-12">
						<strong>Título português:</strong> <span th:text="${mensagem.tituloBr}"></span><br>
						<strong>Título inglês:</strong> <span th:text="${mensagem.tituloEn}"></span><br>
						<strong>Data da pregação:</strong> <span th:text="${mensagem.dataPregacao}"></span><br>
						<strong>Cidade:</strong> <span th:text="${mensagem.cidade}"></span><br>
						<strong>Estado:</strong> <span th:text="${mensagem.estado}"></span><br>
						<strong>Sigla do estado:</strong> <span th:text="${mensagem.siglaEstado}"></span><br>
						<strong>País:</strong> <span th:text="${mensagem.pais}"></span><br>
						<strong>Gráfica:</strong> <span th:text="${mensagem.grafica}"></span><br>
						<strong>Período do dia:</strong> <span th:text="${mensagem.periodoDoDia.toString()}"></span><br>
						<strong>Dia da semana:</strong> <span th:text="${mensagem.diaDaSemana.toString()}"></span><br><br>
					</div>
				</div>
				<div class="row">
					<div>
						<a type="button" class="btn btn-primary" href="#">Editar</a> <a type="button" class="btn btn-primary" href="/mensagens">Voltar</a>
					</div> 
				</div>
			</div>
		</main>
	</body>
</html>